/*
font-family: 'Oxygen', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

h1 {
  font-family: 'Oxygen', sans-serif;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
}
